 <head>
     <style type="text/css">
         /* START COMPARISON TABLE STYLES */
#comparetable {width: 100%; table-layout: fixed; text-align: center; margin: 4em 0; border-collapse: collapse; }
#comparetable tr {background: transparent!important;}
#comparetable td,
#comparetable th {padding: 20px; text-align: center;}
#comparetable td.rowTitle {text-align: left;}
.blank {background: none!important; border: none!important;}
 .goldleaf th {background-color: #ffe34b; font-size: 22px; color: #746200; text-align: center; font-weight: 400; text-shadow: 0 1px 0 #eee2a2; border: 1px solid #ae9a2e;}
 .goldleaf td {background-color: #f0f1f1; border: 1px solid #c8d6e2;}
  .goldleaf td.rowTitle {font-size: 20px; border-left: 3px solid #ae9a2e;}
/* END COMPARISON TABLE STYLES */
     </style>
 </head>
 <div id="page-top" class="index">
 <%= render 'shared/navigation'%>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
        <!-- Global Search -->

            <form class="form-inline global-search " id="search">
                <div class="form-group">
                    <label class="sr-only" for="">Please Check Your Area First</label>
                    <input type="search" class="form-control" id="k" name="k" placeholder="Please Check Your Area First" required>
                </div>
                <button type="buuton" id="search" class="btn btn-primary"  onclick="myFunction(event)"><span class="fa fa-search"></span></button>

            </form>
            <br>
            <div id="orderNow"><a class='page-scroll btn btn-primary' href='/orders/new'>Order Now</a>
            </div>

            </div>
        </div>
    </header>
    <%= render 'shared/howItWorks'%>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Laundry Service in Nagpur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                <!--     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="service-heading">Iron *</h4>
                    <p class="text-muted">We at KwikIron provide our customers with ironing service of clothes. Our expert ironing team ensures that clothes are ironed in such a way that when clothes are delivered they look fresh and beautiful. </p>
                </div>
                <div class="col-md-6">
<!--                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="service-heading">Wash & Iron *</h4>
                    <p class="text-muted">We at KwikIron provide our customers with wash & ironing service of clothes. Our expert team of laundry mates and ironing experts ensures that clothes are washed & ironed in such a way that when clothes are delivered they look fresh and beautiful. </p>
                </div>
                <!--<div class="col-md-4">-->
                <!--    <span class="fa-stack fa-4x">-->
                <!--        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                <!--        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                <!--    </span>-->
                <!--    <h4 class="service-heading">Web Security</h4>-->
                <!--    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                <!--</div>-->
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Iron</h4>
                        <p class="text-muted">Click for pricing!</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Wash & Iron</h4>
                        <p class="text-muted">Click for pricing!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Team Section -->
    <section id="aboutus" class="bg-light-gray">
        <div class="container">
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Laundry Service in Nagpur.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        Forget about going to laundry on daily basis, just pick up your mobile and download our app from playstore or browse our app www.kwikiron.in to schedule a pickup of your clothes for laundry. We at KwIkiron deliver service to iron, wash & iron your clothes on demand in Nagpur city. We have learned from our research* that laundry service in Nagpur are not organized enough to meet the customer’s requirements. Hence we at KwIkiron always try to ensure that our customers are always satisfied through consistent quality of service that we provide.
                        Established in the year 2016, KwikIron is trying to make foothold with both online and offline platforms. Our vision is to become fastest on demand laundry service company in coming years, whereas we keep mission ahead of us to meet the customer requirements through our innovative product mix.</p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Write Us - support@kwikiron.in
                            <br>
                            Or
                            <br>
                Call Us at - 7276012266</h3>
                </div>
            </div>
        </div>
    </section>

    <%= render 'shared/footer'%>
  <%= render "shared/modal"%>


