<p>Hello <%= @resource.email %>!</p>

<p>Thanks for contacting us. Follow the directions below to reset your password
After you click the button above, you'll be prompted to complete the following steps:
1.
Enter your email/username
2.
Enter your new password.
3.
Click "Continue".</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request a password reset or you feel you've received this message in error, please call our support team right away at 7276012266 If you take no action, don't worry – nobody will be able to change your password without access to this email</p>
